<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="display-4">
    Welcome to {{title}}!
  </h1>
  <div class="col-md-12 mb-2">
    <label for="search">Search</label>
    <input class="" (keyup)="onKeySearch($event)" id="search" type="text">
    <button class="btn btn" (click)="searchCurrentWeather()">Go!</button>
    <h4 class="display-4 "> Temperature in {{location}} is: {{temperature}}</h4>
  </div>
  <div>
    <h4 class="display-4">Available regions</h4>
    <div class="col-12" *ngFor="let location of locations">
      <p>Location: {{location.location}}, Unit: {{location.unit}}</p>
    </div>
    <div>
      <h4>Add new region</h4>
      <form >
        <div class="form=group">
          <label for="location">location</label>
          <input (keyup)="onKeyAdd($event)" name="newLocation" type="text" id="location">
          <button class="btn btn-success" (click)="addNewLocation()">Add+</button>
        </div>
        <div class="form-group">
          <label for="celsius">Celsius</label>
          <input [(ngModel)]="addUnitType" value="celsius" name="unit" type="radio" id="celsius">
          <label for="fahrenheit">Fahrenheit</label>
          <input [(ngModel)]="addUnitType" value="fahrenheit" name="unit" type="radio" id="fahrenheit">
        </div>
      </form>
    </div>
  </div>
</div>


